body {
	/*padding-top: 3.5em;*/
	position: relative;
}
img {
	max-width: 100%;
}
/* Main Navigation */
.navbar {
	border-bottom: 5px solid #fff;
}

.navbar-inverse {
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2e6da4 100%);
  background-image: -o-linear-gradient(top,#337ab7 0,#2e6da4 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2e6da4));
  background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-repeat: repeat-x;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	color: #2e6da4;
  background-color: #fff;
  background-image: none;
}

.navbar-inverse .navbar-brand {
	color: #000;
	font-weight: bold;
	font-style: italic;
	background: #fff;
}

.navbar-inverse .navbar-brand a:hover,
.navbar-inverse .navbar-nav>li>a {
  color: #ffef03;
}

@media only screen and (min-width: 768px) {
	.navbar-nav>li>a {
	  padding-top: 16px;
	  padding-bottom: 15px;
	}
	.navbar-nav>li>a:hover {
		background: #fff;
	}
}


/** Scroll Spy **/
@media only screen and (min-width: 768px) {

	.collapse.navbar-collapse.navbar-scrollspy.affix,
	.collapse.navbar-collapse.navbar-scrollspy.affix-top {
		position: absolute;
		right: 10px
	}

	.container {
		padding-top: 61px;
	}}

	.main-header .container {

	}
}

li {
	padding-top: 5px;
	padding-bottom: 6px;
}

.jumbotron {
	background-color: rgba(21, 17, 32, 0.5);
}

.main-header .jumbotron {
	padding-top: 60px;
}

.jumbotron h1,
.jumbotron .slogan {
	color: #fff;
}

/*.main-header {
	background: url('../img/e-cigarrillos-1.jpg') no-repeat center;
	background-size: cover;
	height: 80vh;
	margin-top: 50px;
}*/

/*#contact {
	background: url('../img/contact_keyboard.jpg') no-repeat center;
	background-size: cover;
	height: 45vh;
}*/

@media only screen and (min-width: 480px) and (max-width: 991px) {
	p.f-left {
		width: 50%;
		float: left;
		padding: 15px;
	}
	p.f-right {
		width: 50%;
		float: right;
		padding: 15px;
	}
}

/*@media only screen and (min-width: 480px) and (max-width: 1025px) {
	.main-header {
		background: url('../img/e-cigarrillos-1.jpg') no-repeat center;
		background-size: cover;
		height: 80vh;
	}
}*/