---
layout: default
title: Che, Argentina! Get your E-Cigarettes Here!
---

<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">La Casa de la Futura para E-Cigarettes!</h1>
        </div>
        <div class="panel-body">
          <p><i>La American Heart Association</i> ha publicado un completo estudio sobre el <strong>cigarrillo electrónico</strong>, un dispositivo cada vez más popular que trata de ser un sustitutivo del cigarrillo tradicional y que ayuda a abandonar el consumo de tabaco.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% include picture.html imgurl="e-cigarrillo-pieces.jpg" %}
    </div>
    <div class="col-md-4">
      <p class="f-left">El cigarrillo electrónico hace uso de un líquido que contiene glicerol, propilenglicol, nicotina y, por último, ciertos extractos de hierbas o elementos alimentarios que le dan a cada versión un sabor característico.</p>
      <p class="f-right">{% include picture.html imgurl="e-cigarrillos-quit.jpg" %}</p>
      <p class="f-left">El consumidor de estos cigarrillos aspira el vapor generado por estos dispositivos, que trata de emular la sensación de fumar un cigarrillo tradicional.</p>
    </div>
  </div>
</div>

<div id="benefits" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>BENEFITS:</h2>
      <ol>
        <li>No produce dientes amarillos</li>
        <li>El vapor que se expulsa desde el cigarrillo electrónico no contiene ningún tipo de olor por lo tanto no solo que beneficia a la persona que lo consuma por lo que no va a quedar ese olor desagradable del tabaco en la boca, si no que no genera el malestar del olor del cigarrillo en  las personas que lo rodea y no son fumadores y por lo tanto tampoco queda impregnado el olor en el interior  de la casa.</li>
        <li>Al ser esencias naturales, no posee ningunos de los 4000 agentes tóxicos que tiene el cigarrillo, solo contiene una mínima dosis de nicotina que se la va graduando dependiendo de la cantidad  de cigarrillos que fume la persona y a medida que pasa el tiempo se le va bajando la dosis hasta el 0%.</li>
        <li>Las esencias duran aproximadamente un mes, por lo que no solo es beneficioso para la salud,sino a nivel economico, una persona que gasta entre $600 y $800 por mes se reduciría el gasto a $130 por una esencia.</li>
        <li>Esta comprobado que el 90% de los fumadores que prueban nuestro producto no vuelven a fumar.</li>
        <li>Al ser un modelo similar al cigarrillo,  expulsa vapor simulando fumar, actua como un canalizador para la ansiedad de fumar.</li>
        <li>Al levantarse a la mañana no produce un malestar  en la gargante como lo suele hacer el cigarrillo</li>
        <li>No produce manchas en los dedos</li>
        <li>Esta comprobado que mejora 100% el rendimieto fisico y sexual</li>
        <li>A los pocos dias recuperara los sentidos perdido por el cigarrillo como: el olfato, el gusto etc</li>
        <li>Disminuye los riesgos de las enfermedades pulmonares,cardiacas y todas las enfermedades producida por el tabaco.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <blockquote> “EL MEJOR REGALO PARA SU SALUD Y LA DE LOS  SUYOS...QUE ESPERAS PARA COMPROBARLO?”</blockquote>
      </div>
    </div>
  </div>
</div>


