<div id="contact" class="contact-header"></div>
<div class="container-fluid">
  
  <div class="row">
    <div class="col-lg-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Capital Federal</h3>
        </div>
        <div class="panel-body"> 
          <p>
            <ul class="list-unstyled">
              <li><a href="tel:1559109248"><strong>Palermo - 1559109248</strong></a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Zona Sur</h3>
        </div>
        <div class="panel-body"> 
          <p>
            <ul class="list-unstyled">
              <li><a href="tel:1533731052"><strong>Quilmes - 1533731052</strong></a></li>
              <li><a href="tel:1562584702"><strong>Florencio Varela - 1562584702</strong></a></li>
              <li><a href="tel:"><strong>Burzaco- tel ( ? )</strong></a></li>
              <li><a href="tel:1559729083"><strong>Loma de Samora - 1559729083</strong></a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Zona Oeste</h3>
        </div>
        <div class="panel-body"> 
          <p>
            <ul class="list-unstyled">
              <li><a href="tel:1564420899"><strong>Gonzalez Catan -  1564420899</strong></a></li>
              <li><a href="tel:1532549104"><strong>Castelar - 1532549104</strong></a></li>
              <li><a href="tel:1566309868"><strong>Gral. Rodriguez - 1566309868</strong></a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-2 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Zona Noroeste</h3>
        </div>
        <div class="panel-body"> 
          <p>
            <ul class="list-unstyled">
              <li><a href="tel:1569426225"><strong>San Miguel -1569426225</strong></a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Zona Norte</h3>
        </div>
        <div class="panel-body"> 
          <p>
            <ul class="list-unstyled">
              <li><a href="tel:1557074800"><strong>Garin - 1557074800</strong></a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>