<div id="top" class="main-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<div class="jumbotron">
					<div class="container">
					  <h1>Hello, world!</h1>
					  <p class="slogan">Here we can put a brief describtion, introduction or whatever else we would like. Really this is just space filler for now as I mess witht he framework.</p>
					  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>